.d-editor-container {
  display: flex;
  gap: 1rem;
  .d-editor-preview-wrapper {
    margin-left: unset;
  }
}

.composer-preview-right .d-editor-container {
  flex-direction: row;
}

.composer-preview-left .d-editor-container {
  flex-direction: row-reverse;
}
.fullscreen-composer .composer-preview-left #reply-control.fullscreen.show-preview .d-editor-textarea-wrapper {
  border-right: 0;
  border-left: 1px solid var(--primary-low);
}

.composer-preview-top .d-editor-container {
  flex-direction: column-reverse;
}
.fullscreen-composer .composer-preview-top #reply-control.fullscreen.show-preview .d-editor-textarea-wrapper {
  border-right: 0;
  border-top: 1px solid var(--primary-low);
}

.composer-preview-bottom .d-editor-container {
  flex-direction: column;
}
.fullscreen-composer .composer-preview-bottom #reply-control.fullscreen.show-preview {
  .d-editor-textarea-wrapper {
    border-right: 0;
    border-bottom: 1px solid var(--primary-low);
  }
  .d-editor-preview-wrapper {
    margin-top: unset;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.composer-open,
.fullscreen-composer {
  .preview-position-selector.select-kit.single-select.dropdown-select-box {
    display: inline-flex;
  }
}

.preview-position-selector.select-kit.single-select.dropdown-select-box {
  display: none;
  summary.dropdown-select-box-header {
    // based on the styles for .btn .btn-transparant and .btn-mini-toggle
    font-size: var(--font-0);
    line-height: normal;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    background: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
    color: var(--primary);
    border-radius: var(--d-border-radius);
    padding: 0.4em 0.467em;

    .d-icon {
      color: var(--primary-medium) !important;
    }

    &:hover .d-icon {
      color: var(--primary) !important;
    }

    .select-kit-selected-name .name {
      @extend .sr-only;
    }
  }
  .select-kit-body {
    min-width: unset !important;
    li.dropdown-select-box-row {
      padding: 0.4em 0.467em;

      .icons {
        margin-right: 0;
        .d-icon {
          font-size: var(--font-0);
        }
      }
      .texts {
        @extend .sr-only;
      }
    }
  }
}
